body{
  /* font: bold 14px/14px "Roboto Condensed",sans-serif; */
}

.container-fluid {
  background-color: red;
}

.d-flex {
  /* background-color: blue; */
}

.test {
  /* background-color: aqua; */
}

/* STYLING THE HEADER */
.a-test {
  /* background-color: black; */
  margin-left:-20px;
}

a svg {
  fill: #fff;
  width: 132px;
  height: 20px;
}

 .d-font {
  /* font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-stretch: normal; */
  font-size: 14px;
  line-height: 14px;
  font-family: "Roboto Condensed", sans-serif;
}

/* CONTENT */

.content {

}

.main-concerns {
  width: 100%;
}

.left-content {
 background-color: blue;
 width: 100%;
 /* border: 1px solid black; */
}

.four-items {

}

picture {
 border: 1px solid white;
}

.middle-content {
  background-color: blueviolet;
  width: 100%;
}

.top-story {

}

.card {
  border-radius: 0;
}

.more-story {

}

.story {

}

.right-content {
  background-color: green;
 height: 50vh;
 width: 100%;
}

.opinion{

}

.op-ed {

}

.latest {

}

.late-news {

}

/* OTHER CONCERNS */

.other-concerns {

}

.the-magazine {

}

.lhs {

}

.rhs {

}

.bottom {

}

.editor-pick {

}

.title {

}

.ed-content {

}

.content-item {

}

.slideshows {

}

.slide-title {

}

.slide-content {

}

.slide-item {

}

.section-pick-7-times {

}

.block-title {

}

.block-link {

}

.first-row {

}

.content-1 {

}

.content-2 {

}

.sub-contents {

}




