

body{
  /* font: bold 14px/14px "Roboto Condensed",sans-serif; */
}

.container-fluid {
  background-color: red;
}

.d-flex {
  /* background-color: blue; */
}

.test {
  /* background-color: aqua; */
}

/* STYLING THE HEADER */
.a-test {
  /* background-color: black; */
  margin-left:-20px;
}

a svg {
  fill: #fff;
  width: 132px;
  height: 20px;
}

 .d-font {
  /* font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-stretch: normal; */
  font-size: 14px;
  line-height: 14px;
}

/* CONTENT */

.content {

}

.main-concerns {
  width: 100%;
}

.left-content {
 background-color: blue;
 width: 100%;
 /* border: 1px solid black; */
}

.four-items {

}

picture {
 /* border: 1px solid white; */
}

.middle-content {
  background-color: blueviolet;
  width: 100%;
}

.top-story {
 border: 1px solid red;
}

.card-title, .more-title {
  color: rgba(3,3,3,.4);
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 16px;
  font-size: 16px;
}


.card-heading {
 font-size: 22px;
 line-height: 24px;
 font-family: 'Roboto Condensed', sans-serif;
 font-weight: bold;
}

.card-link {
  text-decoration: none;
  color: #000;
}

.card-link:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-color: firebrick;
  text-decoration-style: solid;
}

.card-text {
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: 'Arial','Helvetica', sans-serif;
}

.category {
top: 17.5rem;
left: 0;
z-index: 2;
border: 1px solid white;
background: rgba(255, 255, 255, .9)
}

.category a {
 padding-top: .5rem;
 padding-bottom: .5rem;
 padding-left: .9rem;
 padding-right: .9rem;
 text-decoration: none;
 color: #f72210;
}

.category a:hover {
  color: #f72210;
}

.card {
  /* border-radius: 0; */
}

.more-story {
  border: 1px solid red;
}

/* .more-title {
  color: rgba(3,3,3,.4);
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 16px;
  font-size: 16px;
} */

.story {
  /* border: 1px solid red; */
  /* border-top: 1px solid #ddd; */
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(221, 221, 221);
}

.image {
  /* width: 135px;
  height: 100px; */
}

.image-heading a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.2rem;
}

.image-heading a:hover{
  text-decoration: underline;
  text-decoration-color: firebrick;
}

.summary {
  color: #333;
    font-size: 14px;
    line-height: 1.2rem;
    font-family: 'Arial','Helvetica',sans-serif;
}



.right-content {
  background-color: green;
 height: 50vh;
 width: 100%;
}

.opinion{

}

.op-ed {

}

.latest {

}

.late-news {

}

/* OTHER CONCERNS */

.other-concerns {

}

.the-magazine {

}

.lhs {

}

.rhs {

}

.bottom {

}

.editor-pick {

}

.title {

}

.ed-content {

}

.content-item {

}

.slideshows {

}

.slide-title {

}

.slide-content {

}

.slide-item {

}

.section-pick-7-times {

}

.block-title {

}

.block-link {

}

.first-row {

}

.content-1 {

}

.content-2 {

}

.sub-contents {

}




